.cursor {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #F1F1F1F1;
    left: -20px;
    z-index: 100000;
    border-radius: 100%;
    transition: .2s linear;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: difference;
}

.cursor-follower {
    width: 30px;
    height: 30px;
    border: 1px solid #F1F1F1F1;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    z-index: 100000;
    transition: .05s linear;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: difference;
}

.increase{
    transform: scale(10);
    transition: transform .5s linear;
}
.decrease-follower{
    opacity: 0;
    transition: opacity .5s linear;
}