// @font-face {
//     font-family: 'grandslang';
//     src: url('/assets/fonts/grandslang.ttf') format("ttf");
// }

@font-face {
    font-family: 'GrandSlang';
    src: url('../fonts/GrandSlang.woff2') format("woff2");
}



@font-face {
    font-family: 'archia';
    src: url('../fonts/archia.otf') format("otf");
}

@font-face {
    font-family: 'oregon';
    src: url('../fonts/oregon.ttf') format("ttf");
}

@font-face {
    font-family: 'CosiTimes-Roman';
    src: url('../fonts/CosiTimes-Roman.ttf') format("ttf");
}