@font-face {
    font-family: 'grandslang';
    src: url('/assets/fonts/grandslang.ttf') format("ttf");
}

@font-face {
    font-family: 'archia';
    src: url('/assets/fonts/archia.otf') format("otf");
}