@font-face {
    font-family: 'grandslang';
    src: url('/assets/fonts/grandslang.ttf') format("ttf");
}

@font-face {
    font-family: 'archia';
    src: url('/assets/fonts/archia.otf') format("otf");
}

@font-face {
    font-family: 'oregon';
    src: url('/assets/fonts/oregon.ttf') format("ttf");
}

@font-face {
    font-family: 'CosiTimes-Roman';
    src: url('/assets/fonts/CosiTimes-Roman.ttf') format("ttf");
}