#homepage {
    background-color: black;
    min-height: 100vh;
    width: 100%;
    .homepage__container {
        height: 100vh;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .wrapper {
            width: auto;
            height: auto;
            // padding: 50px;
            overflow: hidden;
        }
    }
    
    .bgcolor {
        background-color: red;
        transition: 0.4s ease-in-out;
    }
    .c1 {
        flex-direction: column;
        #c1-container-txt-move {
            overflow: hidden;
            width: 350px;
            height: 25px;
            white-space: nowrap;
            margin: auto;
            #c1-txt-move {
                font-family:'Times New Roman', Times, serif;
                font-weight: 400;
                color: #f1f1f1;
                letter-spacing: 3px;
                animation: scrollTxt 10s linear infinite;
                width: 100%;
                white-space: nowrap;
                letter-spacing: 6px;
                font-size: 15px;
            }
            @keyframes scrollTxt {
                0%{
                    transform: translate(0%);
                }
                100% {
                    transform: translate(-100%);
                }
            }

        }
        h1 {
            font-family: 'GrandSlang';
            font-size: 5rem;
            font-weight: 100;
            color: #f1f1f1;
        }
    }
    .c2 {
        p {
            font-family: Arial Black,Arial Bold,sans-serif; 
            font-weight: bold;
            font-size: 2rem;
            letter-spacing: 6px;
            color: #f1f1f1;
            border: 0.1px solid #5a2828 ;
            padding: 22px;
            background-clip: text;
            transition: 0.3s ease-in-out;
            filter: blur(2.5px);
            &:hover {
                filter: blur(0px);
                background-image: url('../img/fire.gif');
                color: #935b4b;
            }
        }
    }
    
    .c3 {
        background-image: url('../img/fire.gif') ;
        background-size: cover;
        flex-direction: column;
        transition: 0.3s ease-in-out;
        #c3-container-txt-move {
            overflow: hidden;
            width: 350px;
            height: 25px;
            white-space: nowrap;
            transition: 0.3s ease-in-out;
            // margin: auto;
            #c3-txt-move {
                font-family:'Times New Roman', Times, serif;
                font-weight: 400;
                color: #f1f1f1;
                letter-spacing: 3px;
                animation: scrollTxt 10s linear infinite;
                width: 100%;
                white-space: nowrap;
                letter-spacing: 6px;
                font-size: 15px;
                opacity: 0.5;
            }
            @keyframes scrollTxt {
                0%{
                    transform: translate(0%);
                }
                100% {
                    transform: translate(-100%);
                }
            }

        }
        a {
            font-family: 'GrandSlang';
            font-size: 5rem;
            font-weight: 100;
            color: rgb(255, 255, 255);
            text-decoration: none;
            transition: 0.3s ease-in-out;
            &:hover {
                opacity: 0.5;
            }
        }
    }
    
}
.b-canvas{
    transition: all .2s linear;
}
