* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

html {
  font-size: 62,5%;
  text-decoration: none;
  list-style: none;
  cursor: none;
  a{
    cursor: none;
  }
}