/* Splash Screen */
.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: 0.05;  
    z-index: 1000;
    pointer-events: none;
    background: url('../img/noise.gif') ;
}
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    font-family: 'GrandSlang';
    font-size: 5rem;
    color: black;
    transition: 1s;
    margin: auto;
    text-align: center;
    .logo-first-page {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        text-align: center;
        width: 100vw;
        margin-left: 30px;
        .logo {
            position: relative;
            display: inline-block;
            bottom: -20px;
            opacity: 0;    
            font-weight: 100;
            letter-spacing: 50px;

        }
        .logo.active {
            bottom: 0;
            opacity: 1;
            transition: ease-in-out 0.5s;
        }
        .logo.fade {
            bottom: 400px;
            opacity: 0;
            transition: ease-in-out 0.5s;
        }
    }
}
